@CHARSET "ISO-8859-1";

@font-face {
	font-family: font1;
	src: url(../font/static/RobotoSlab-Thin.ttf);
}

@font-face {
	font-family: font2;
	src: url(../font/static/RobotoSlab-ExtraLight.ttf);
}

@font-face {
	font-family: font3;
	src: url(../font/static/RobotoSlab-Light.ttf);
}

@font-face {
	font-family: font4;
	src: url(../font/static/RobotoSlab-Regular.ttf);
}

@font-face {
	font-family: font5;
	src: url(../font/static/RobotoSlab-Medium.ttf);
}

@font-face {
	font-family: font6;
	src: url(../font/static/RobotoSlab-SemiBold.ttf);
}

@font-face {
	font-family: font7;
	src: url(../font/static/RobotoSlab-Bold.ttf);
}

@font-face {
	font-family: font8;
	src: url(../font/static/RobotoSlab-ExtraBold.ttf);
}

@font-face {
	font-family: font9;
	src: url(../font/static/RobotoSlab-Black.ttf);
}

/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

table {
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-weight: normal;
	font-style: normal;
}

strong {
	font-weight: bold;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

caption,
th {
	text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #444;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
	font-family: arial, helvetica;
	color: #333;
	color: rgba(0, 0, 0, 0.5);
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1 {
	font-size: 6em;
}

p {
	font-size: 2em;
}

.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section {
	text-align: center;
}

#menu img {
	height: 40px;
	margin: 10px;
}

#menu .logo_name {
	display: inline-block;
	position: absolute;
	top: 16px;
	font-family: font9;
	color: white;
	font-size: 25px;
	left: 63px;
}

#menu li {
	float: right;
	/* display:inline-block; */
	margin: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li.active {
	color: #fff;
}

#menu li a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.5vw;
	font-family: font9;
}

#menu li a:hover {
	text-decoration: none;
	color: rgba(255, 255, 255);
}

#menu li.active a:hover {
	color: white;
}

#menu li a,
#menu li.active a {
	padding: 8px 12px;
	display: block;
}

#menu li.active a {
	color: #fff;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	z-index: 1;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.453));
}

.twitter-share-button {
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}

#infoMenu {
	height: 20px;
	color: #f2f2f2;
	position: fixed;
	z-index: 70;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: 0.9em;
	padding: 8px 0 8px 0;
}

#infoMenu ul {
	padding: 0 40px;
}

#infoMenu li a {
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}

#infoMenu li a:hover {
	text-decoration: underline;
}

#infoMenu li {
	display: inline-block;
	position: relative;
}

#examplesList {
	display: none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width: 822px;
	text-align: left;
}

#examplesList ul {
	padding: 0;
}

#examplesList ul li {
	display: block;
	margin: 5px 0;
}

#examplesList ul li a {
	color: #BDBDBD;
	margin: 0;
}

#examplesList ul li a:hover {
	color: #f2f2f2;
}

#examplesList .column {
	float: left;
	margin: 0 20px 0 0;
}

#examplesList h3 {
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

.addToWaitlist {
	border: white 3px solid;
}

#addWait {
	color: rgba(255, 255, 255, 0.8) !important;
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 999;
	padding: 5px 10px;
}

/* Buttons
 * --------------------------------------- */
#download a {
	text-decoration: none
}

#download,
#download:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.button {
	margin: 20px 0 0 0;
	vertical-align: middle;
	display: inline-block
}

.button a {
	color: #fff;
	background: rgba(0, 0, 0, 0.4);
	padding: 15px 30px;
	border-radius: 5px;
	display: inline-block;
}

.button a:hover {
	color: #316f68;
	background-color: #fff
}


/* Extensions preview menu
 * --------------------------------------- */
.preview-extensions-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	border-top: 0;
	box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.8);
}

.preview-extensions-menu li {
	display: inline-block;
	margin: 0;
}

.preview-extensions-menu li a {
	padding: 15px 25px;
	display: block;
}

.preview-buy-extension {
	background: #3cc63c;
}

.preview-more-extensions {
	background: #fff;
}

.preview-buy-extension a {
	color: #fff;
}

.preview-buy-extension:hover {
	background-color: #1a961a;
}

.preview-more-extensions a {
	color: #333;
}

.code {
	background: rgba(255, 255, 255, 0.7);
	padding: 0px 5px;
	line-height: 25px;
}


h5 {
	color: white;
	font-size: 4.6vw;
	font-family: font5;
	position: relative;
	top: 18%;
}

h4 {
	color: white !important;
	font-size: 3.6vw;
	font-family: font4;
	position: relative;
	top: 30%;
}

/* Style for our header texts
* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
}

#section0 h3 {
	font-size: 20px;
}

.section p,
.intro p {
	color: #fff;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align: center;
}


/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
	color: #fff;
}

/* Sections backgrounds
* --------------------------------------- */
#section0 {
	background-color: rgb(255, 114, 94);
}

#section1 {
	background-color: rgb(255, 114, 94) !important;
	color: white;
	/* color: #221f14; */
	/* border: 1px solid black; */
	/* display: flex; */

}

.sec1container {
	display: flex;
	flex-direction: column;
}

.sec1container img {
	height: 33vh;
	border-radius: 15px;
}


.backgroundText {
	color: white;
	position: absolute;
	top: 22%;
	font-weight: bold;
	line-height: 11vw;
	z-index: 2;
	transform: rotateZ(-90deg);
	font-size: 14vw;
	left: -12vw;
	pointer-events: none;
}

.abc {
	width: 25vw;
	margin-left: -22vw;
}

.bulletRegion1 {
	flex: 4;
	/* border: 1px solid black; */
	/* height: 100vh;		 */
	overflow: hidden;
	/* padding-top: 5vh; */
	text-align: left;
	padding-left: 15vw;
}

.bulletRegion1 h3 {
	color: white;
	font-size: 3.7vw;
	font-family: font4;
	margin-bottom: 8px;
	font-weight: bold;
}

.bulletRegion1 p {
	color: white;
	font-size: 2.4vw;
	font-family: 'font3';
}

.inCont {
	display: flex;
	margin-left: 18vh;
}

.animationContainer {
	/* flex: 5; */
	/* border: 1px solid black; */
	height: 100vh;
	margin-left: 10vw;
}


.cardy1 {
	background-color: rgba(255, 114, 94, 0.8);
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
	margin-bottom: 1vh;
	padding: 2vh;
	pointer-events: none;
	transition: all .2s ease-in-out;
	width: 80vw;
}

.innerBulllet {
	width: 30vw;
	position: relative;
	top: -2vh;
}

body {
	font-family: font7;
}


.layerImg {
	height: 25vh !important;
	z-index: -1;
}

.inContainer {
	display: flex;
	/* justify-content: center; */
}

.inContainer img {
	display: none;
}

.inContainery {
	display: flex;
	margin-left: 7vw;
	position: absolute;
}

#section2 {
	/* background-image: linear-gradient(128deg,#fc40ff,#543fff); */
	background-color: rgb(254, 153, 120) !important;
}

#section3 {
	background-color: rgb(254, 153, 120) !important;
	/* border: 1px solid white; */
	color: white;
}


/* animations */
.container {
	width: 42vw;
	/* height: 200px; */
	position: relative;
	top: -39vh;
	left: -1vw;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
}



#cube {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-animation: rotatecube 8s infinite;
	-moz-transform-style: preserve-3d;
	-moz-animation: rotatecube 8s infinite;
}


#cube div {
	/* width: 15vw; */
	height: 200px;
	display: block;
	position: absolute;
	border: none;
	line-height: 200px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

@-webkit-keyframes rotatecube {
	0% {
		-webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}

	25% {
		-webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	}

	50% {
		-webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
	}

	75% {
		-webkit-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
	}

	100% {
		-webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
	}
}

@-moz-keyframes rotatecube {
	0% {
		-moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}

	25% {
		-webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
	}

	50% {
		-moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
	}

	75% {
		-moz-transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
	}

	100% {
		-moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
	}
}

.front {
	/* background: rgba(255,0,0,.5); */
}

.back {
	/* background: rgba(0,255,0,.5); */
}

.right {
	/* background: rgba(0,0,255,.5); */
}

.left {
	/* background: rgba(0,255,255,.5); */
}

.top {
	/* background: rgba(255,0,255,.5); */
}

.bottom {
	/* background: rgba(255,255,0,.5); */
}

#cube .front {
	-webkit-transform: rotateY(0deg) translateZ(10vh);
	-moz-transform: rotateY(0deg) translateZ(10vh);
}

#cube .back {
	-webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
	-moz-transform: rotateX(0deg) rotateY(180deg) translateZ(10vh);
}

#cube .right {
	-webkit-transform: rotateY(90deg) translateZ(10vh);
	-moz-transform: rotateY(90deg) translateZ(10vh);
}

#cube .left {
	-webkit-transform: rotateY(-90deg) translateZ(10vh);
	-moz-transform: rotateY(-90deg) translateZ(10vh);
}

#cube .top {
	-webkit-transform: rotateX(90deg) translateZ(11vw);
	-moz-transform: rotateX(90deg) translateZ(11vw);
}

#cube .bottom {
	-webkit-transform: rotateX(-90deg) translateZ(9vw);
	-moz-transform: rotateX(-90deg) translateZ(9vw);
}

/* floating box animations */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}

	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-20px);

	}

	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

.avatar {
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

/* card flipping */
.scene {
	top: 11vh;
	left: 40vw;
	position: absolute;
}

.imagy {
	height: 190vh;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card__face {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.card__face img {
	height: 35vh;
	pointer-events: none;
}

.card__face--front {
	/* background: red; */
}

.card__face--back {
	/* background: blue; */
	transform: rotateY(180deg);
}

.card.is-flipped {
	transform: rotateY(180deg);
}

/* mobile screens */
.innerBullet {
	width: 30vw;
	position: absolute;
	bottom: 0;
	left: 6vw;
	pointer-events: none;
}

/* smaller laptops */
@media only screen and (min-width: 768px) {
	.innerBulllet {
		/* bottom: 0; */
		position: absolute;
		top: auto;
	}

	.inContainer img {
		display: block;
	}

	.bulletRegion1 h3 {
		font-size: 2vw;
	}

	.bulletRegion1 p {
		font-size: 1.2vw;
	}

	.avatar {
		animation: none;
	}

	.cardy1 {
		background-color: rgb(255, 137, 137) !important;
		border: none;
		border-radius: 20px;
		margin-bottom: 3vh;
		padding: 20px;
		position: absolute;
		width: 20vw;
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
		animation: float 3s ease-in-out infinite;
	}

	.innerBullet {
		position: static;
	}

	.layerImg {
		height: 23vw !important;
	}

	.imagy {
		height: 110vh;
	}

	.abc {
		width: 25vw;
		margin-left: 3vw;
	}

	.bulletRegion1 {

		height: 110vw;
	}

	.card__face img {
		height: 35vw;
	}

	.scene {
		pointer-events: none;
		width: 200px;
		height: 260px;
		perspective: 600px;
		top: 24vh;
		left: 18vw;
	}

	h5 {
		font-size: 2.6vw;
	}

	h4 {
		font-size: 1.6vw;
	}

	.sec1container {
		flex-direction: row;
	}

	.inContainery {
		display: flex;
		margin-left: 0;
		position: static;
	}

	.sec1container img {
		height: 33vw;
	}

	.container {
		width: 15vw;
		height: 200px;
		top: 0;
		left: 28vw;
	}

	#cube {
		top: 13vh;
		left: 10vw;
	}

	#cube div {
		height: 200px;
	}

	#cube .front {
		-webkit-transform: rotateY(0deg) translateZ(11vw);
		-moz-transform: rotateY(0deg) translateZ(11vw);
	}

	#cube .back {
		-webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(11vw);
		-moz-transform: rotateX(0deg) rotateY(180deg) translateZ(11vw);
	}

	#cube .right {
		-webkit-transform: rotateY(90deg) translateZ(11vw);
		-moz-transform: rotateY(90deg) translateZ(11vw);
	}

	#cube .left {
		-webkit-transform: rotateY(-90deg) translateZ(11vw);
		-moz-transform: rotateY(-90deg) translateZ(11vw);
	}


	.backgroundText {
		top: 39%;
		font-size: 10vw;
		left: -16vw;
		line-height: 8vw;
	}
}

/* Laptop media queries */
@media only screen and (min-width: 1200px) {
	h5 {
		font-size: 2.6vw;
	}

	h4 {
		font-size: 1.6vw;
	}

	.sec1container {
		flex-direction: row;
	}

	.inContainery {
		display: flex;
		margin-left: 0;
		position: static;
	}

	.sec1container img {
		height: 33vw;
	}

	.container {
		width: 15vw;
		height: 200px;
	}

	#cube {
		top: 13vh;
		left: 10vw;
	}

	#cube div {
		height: 200px;
	}
}